@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #f8f9fa;
    color: #212529;
    font-family: 'Inter', sans-serif;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
