@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    background-color: #0a0a0a;
    color: #00ff00;
    font-family: 'Courier Prime', monospace;
}

a {
    color: #ff00ff;
}

a:hover {
    color: #00ffff;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
    animation: glitch 1s infinite;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-3px, 3px);
    }
    40% {
        transform: translate(-3px, -3px);
    }
    60% {
        transform: translate(3px, 3px);
    }
    80% {
        transform: translate(3px, -3px);
    }
    100% {
        transform: translate(0);
    }
}
