body {
    background-color: #ffffff;
    color: #000000;
}

.card {
    border: 2px solid #000000;
    border-radius: 0;
}

.table {
    border: 2px solid #000000;
}

th, td {
    border: 1px solid #000000;
}
